version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "02:00"
    allow:
      - dependency-type: "all"
    versioning-strategy: "auto"
