.git/
.gitattributes
.gitignore
.states
.web
__pycache__/
*.py[cod]
*.pyc
*.db
*.sqlite3
.venv/
.ruff_cache/
.pytest_cache/
node_modules/
assets/external/
docs/
mobile/
setup.sh
docker-compose.yaml
CHANGELOG.md
LICENSE
