.states
*.py[cod]
__pycache__/
.web
assets/external/
*.db
*.png
*.jpg
*.jpeg
*.gif
*.sqlite3
*.pyc
.venv/*
.ruff_cache/*
node_modules/
static/dist/
.git/
tests_go/
trmnl/
docs/
.github/
main
sandwitches
sandwitches-go
tmp/
*.log
