{% extends "base_beer.html" %}
{% load i18n static %}

{% block title %}Sandwitches{% endblock %}

{% block extra_head %}
{{ block.super }}
<style>
    @media only screen and (min-width: 992px) {
        main.container {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="large-space"></div>

<article class="round secondary s12 m12 l12">
  <div class="row align-center">
    <div class="max">
      <h4 class="upper">{% trans 'Sandwitches' %}</h4>
      <p class="large-text">{% trans 'Sandwiches so good, they haunt you!' %}</p>
    </div>
  </div>
</article>

<div class="space"></div>

{% include "components/search_form.html" %}

{% if highlighted_recipes %}
<div class="large-space"></div>
<div class="row scroll snap">
    {% for recipe in highlighted_recipes %}
    <article class="round no-padding elevate small-width">
        <a href="{{ recipe.get_absolute_url }}">
            {% if recipe.image %}
            <img src="{{ recipe.image_medium.url }}" class="responsive top-round" alt="{{ recipe.title }}" style="height: 200px; object-fit: cover;">
            {% else %}
            <div class="primary medium-height top-round middle-align center-align" style="height:200px;">
                <i class="extra">lunch_dining</i>
            </div>
            {% endif %}
            <div class="padding">
                <h6 class="bold truncate">{{ recipe.title }}</h6>
                <p class="truncate">{{ recipe.description }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</div>
{% endif %}

<div class="large-space"></div>

{% include "partials/recipe_list.html" %}

{% endblock %}

{% block page_scripts %}
{% include "components/search_scripts.html" %}
{% endblock %}
