/* src/static/css/main.css */
.recipe-card {
    display: flex;
    flex-direction: column;
}

.recipe-card article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recipe-card .grow {
    flex-grow: 1;
}
