{{ template "head" . }}{{ template "navbar" . }}
<div class="space"></div>
<article class="round elevate padding" style="max-width:500px;margin:auto">
<h4>Admin Setup</h4>
<p>Create the first admin account.</p>
<form method="post" action="/setup">
<div class="field label border round"><input type="text" name="username" required minlength="3"><label>Username</label></div>
<div class="field label border round"><input type="email" name="email"><label>Email</label></div>
<div class="field label border round"><input type="password" name="password1" required minlength="8"><label>Password</label></div>
<div class="field label border round"><input type="password" name="password2" required><label>Confirm password</label></div>
<div class="space"></div>
<button type="submit" class="button primary round">Create Admin</button>
</form>
</article>
{{ template "tail" . }}
