{{ define "side_menu" }}
<dialog id="menu" class="left">
    <nav class="left max">
        <header>
            <nav>
                <img src="/static/icons/icon.svg" class="circle extra">
                <h6>Sandwitches</h6>
            </nav>
        </header>
        <a href="/">
            <i>home</i>
            <span>Home</span>
        </a>
        {{ if .user }}
        <a href="/favorites">
            <i>favorite</i>
            <span>Favorites</span>
        </a>
        <a href="/community">
            <i>group</i>
            <span>Community</span>
        </a>
        {{ end }}
        <a href="/api/docs">
            <i>api</i>
            <span>API</span>
        </a>
        <a href="/feeds/latest">
            <i>rss_feed</i>
            <span>RSS Feed</span>
        </a>
        {{ if .user }}{{ if .user.IsStaff }}
        <div class="divider"></div>
        <a href="/dashboard">
            <i>admin_panel_settings</i>
            <span>Admin Dashboard</span>
        </a>
        {{ end }}{{ end }}
    </nav>
</dialog>
{{ end }}
