name: Run linting, formatting checks tests and Build Docker Image

on:
  push:
    branches: ["master", "dev"]
  pull_request:
    branches: ["master"]
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --all-groups

      - name: Build distributions
        run: uv build

      - name: Publish package
        run: uv publish

      - name: Run invoke.ci
        run: uv run invoke ci

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/sandwitches:latest

      - name: Push Docker image
        run: docker push martynvandijke/sandwitches:latest
