name: CI checks

on:
  workflow_call:
  push:
    branches-ignore:
          - 'main'
  pull_request:
    branches:
      - "**"
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run invoke.ci
        run: uv run invoke ci

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/sandwitches:latest

      - name: Push Docker image
        if: github.event_name != 'pull_request' && github.ref != 'refs/heads/main'
        run: |
          docker tag martynvandijke/sandwitches:latest ghcr.io/martynvdijke/sandwitches:latest
          docker push martynvandijke/sandwitches:latest
          docker push ghcr.io/martynvdijke/sandwitches:latest
