name: CI checks

on:
  push:
    branches:
      - "**"

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run invoke.ci
        run: uv run invoke ci

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/sandwitches:latest

      - name: Push Docker image
        run: docker push martynvandijke/sandwitches:latest
