name: Release

on:
  push:
    branches: ["main"]

jobs:
  release:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run invoke.ci
        run: uv run invoke ci

      - name: Run uv lock (for version bump)
        run: uv lock

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/exec
            @semantic-release/git
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: uv version
        id: uv_version
        run: echo "version=$(uv version | awk '{print $2 }')" >> $GITHUB_OUTPUT

      - name: Build distributions
        run: uv build

      - name: Publish package
        run: uv publish
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_TOKEN }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/sandwitches:latest

      - name: Push Docker image
        run: |
           docker push martynvandijke/sandwitches:latest
           echo "Pushing versioned tag: ${{ steps.uv_version.outputs.version }}"
           docker tag martynvandijke/sandwitches:latest martynvandijke/sandwitches:${{ steps.uv_version.outputs.version }}
           docker push martynvandijke/sandwitches:${{ steps.uv_version.outputs.version }}
